.secure{
    padding-bottom: 200px;
    @include media(768){
        padding-bottom: 70px;
    }
    &__wrapper{
        max-width: 1000px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    &__title{
        font-weight: 700;
        font-size: 32px;
        line-height: 50px;
        text-align: center;
        color: #31546D;
        position: relative;
        margin-bottom: 84px;
        @include media(768){
            font-weight: 400;
            font-size: 20px;
            line-height: 50px;
            margin-bottom: 30px;
            color: #232340;
        }
        &::before{
            content: '';
            position: absolute;
            background: #879097;
            border-radius: 24px;
            width: 80px;
            height: 4px;
            bottom: -34px;
            left: 50%;
            transform: translateX(-50%);
            @include media(768){
                display: none;
            }
        }
    }
    &__img{
        width: 100%;
        margin-bottom: 50px;
        @include media(768){
            display: none;
        }
        img{
            width: 100%;
        }
    }
    &__table{
        display: none;
        &:nth-of-type(2), &:nth-of-type(3){
            td{
                &:nth-of-type(3){
                    text-align: left;
                }
                min-width: max-content;
                width: max-content;
                @include media(425){
                    width: 50%;
                }
            }
        }
        @include media(768){
            display: block;
        }
        tr{
            display: flex;
            align-items: center;
            flex-wrap: wrap !important;
            td{
                min-width: 50% !important;
                width: 50% !important;
                &:nth-of-type(2){
                    text-align: right !important;
                }
            }
        }
    }
    table{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 755px;
        &:nth-of-type(1){
            @include media(768){
                display: none;
            }
        }
        &:not(:last-of-type){
            margin-bottom: 50px;
        }
    }
    tbody{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    tr{
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid #31546D;
        &:nth-of-type(2), &:nth-of-type(3){
            padding-top: 10px;
        }
    }
    td{
        font-weight: 300;
        font-size: 18px;
        line-height: 49px;
        color: #010101;
        width: 190px;
        @include media(768){
            color: #FFFFFF;
        }
        &:last-of-type{
            text-align: right;
        }
    }
}