mixin footer()
    footer.footer
        .footer__body.container 
            .footer__wrapper 
                .footer__line.disable-md 
                p.footer__p Copyright © 2022. All rights reserved.