mixin intro()   
    section.intro 
        .intro__body.container
            .intro__wrapper 
                .intro__img 
                    img(src="@img/intro-img.png", alt="")
                .intro__img
                    img(src="@img/intro-img_md.png", alt="")
                h1.intro__title h1 что надо сделать при появлении котенка в доме
                ul.intro__list 
                    li.intro__li    
                        a(href="#!").intro__link Обезопасить дом
                    li.intro__li    
                        a(href="#!").intro__link Посетить ветеринара
                    li.intro__li    
                        a(href="#!").intro__link Обеспечить места, где можно спрятаться
                    li.intro__li    
                        a(href="#!").intro__link Постепенно знакомить с новыми людьми
                    li.intro__li    
                        a(href="#!").intro__link Обезопасить дом
                    li.intro__li    
                        a(href="#!").intro__link Посетить ветеринара
                    li.intro__li    
                        a(href="#!").intro__link Обеспечить места, где можно спрятаться