mixin meet()
    section.meet
        .meet__body.container 
            .meet__wrapper 
                h2.meet__title h2 Знакомить с новыми людьми
                p.meet__desc Появление #[a(href="#!") котенка в доме] – событие волнительное и для хозяев, и для маленького питомца. Обычно владельцы перед тем, как принести в дом пушистого друга, готовят все необходимое и покупают миски, лоток, корм, когтеточку, игрушки. Есть несколько простых правил, которые помогут котенку быстрее адаптироваться к новым условиям и защитят его хозяина от лишних волнений и проблем.
                ol.meet__list 
                    li.meet__li решив впервые завести кошку, бывает трудно понять, с чего начать;
                    li.meet__li конечно, нужно убедиться, что приготовлены все необходимые принадлежности;
                    li.meet__li на какой породе кошек остановить выбор, и подойдет ли животное по характеру;
                    li.meet__li прежде всего определитесь с возрастом: хотите ли вы взять котенка или взрослую кошку;
                    li.meet__li какой уровень активности для вас предпочтителен;
                    li.meet__li cуществует более 40 различных пород домашних кошек. Но есть несколько идеально подходящих для тех, кто заводит питомца впервые;
                    li.meet__li одна из самых крупных пород кошек.
                    li.meet__li 1. котята игривы и могут навредить;
                    li.meet__li 2. убрать все мелкие предметы;
                    li.meet__li 3. поездку котенка к ветеринару нужно запланировать сразу.
                ul.meet__list 
                    li.meet__li решив впервые завести кошку, бывает трудно понять, с чего начать;
                    li.meet__li конечно, нужно убедиться, что приготовлены все необходимые принадлежности;
                    li.meet__li на какой породе кошек остановить выбор, и подойдет ли животное по характеру;
                    li.meet__li прежде всего определитесь с возрастом: хотите ли вы взять котенка или взрослую кошку;
                    li.meet__li какой уровень активности для вас предпочтителен;
                    li.meet__li cуществует более 40 различных пород домашних кошек. Но есть несколько идеально подходящих для тех, кто заводит питомца впервые;
                    li.meet__li одна из самых крупных пород кошек.
                    li.meet__li котята игривы и могут навредить;
                    li.meet__li убрать все мелкие предметы;
                    li.meet__li поездку котенка к ветеринару нужно запланировать сразу.