mixin secure()
    section.secure 
        .secure__body.container 
            .secure__wrapper   
                h3.secure__title h3 Обезопасить дом
                .secure__img.disable-md
                    img(src="@img/intro-img.png", alt="")
                .secure__content.mb 
                    .secure__item 
                        .secure__left 
                            p.secure__p A 
                            p.secure__p Порода
                        .secure__right 
                            p.secure__p Мейн-кун
                            p.secure__p 10 кг
                    .secure__item 
                        .secure__left 
                            p.secure__p В 
                            p.secure__p Порода
                        .secure__right 
                            p.secure__p Сфинкс
                            p.secure__p 5 кг
                    .secure__item 
                        .secure__left 
                            p.secure__p С 
                            p.secure__p Порода
                        .secure__right 
                            p.secure__p Рэгдолл
                            p.secure__p 5 кг
                .secure__content.enable-md.mb
                    .secure__item 
                        p.secure__p Порода
                        p.secure__p Мейн-кун
                        p.secure__p 10 кг
                    .secure__item 
                        p.secure__p Порода
                        p.secure__p Сфинкс
                        p.secure__p 5 кг
                    .secure__item 
                        p.secure__p Порода
                        p.secure__p Рэгдолл
                        p.secure__p 5 кг
                .secure__content.enable-md
                    .secure__item 
                        p.secure__p Порода
                        p.secure__p Мейн-кун
                    .secure__item 
                        p.secure__p Порода
                        p.secure__p Сфинкс
                    .secure__item 
                        p.secure__p Порода
                        p.secure__p Рэгдолл