mixin secure()
    section.secure 
        .secure__body.container 
            .secure__wrapper   
                h3.secure__title h3 Обезопасить дом
                .secure__img
                    img(src="@img/intro-img.png", alt="")
                table 
                    tbody 
                        tr 
                            td А
                            td Порода 
                            td Мейн-кун
                            td 10 кг
                        tr 
                            td В
                            td Порода
                            td Сфинкс
                            td 5 кг
                        tr 
                            td С
                            td Порода
                            td Рэгдолл
                            td 5 кг
                table.secure__table
                    tbody
                        tr 
                            td А
                            td Порода
                            td Мейн-кун
                            td 10 кг
                        tr 
                            td В
                            td Порода
                            td Сфинкс
                            td 5 кг
                        tr 
                            td С
                            td Порода
                            td Рэгдолл
                            td 5 кг
                table.secure__table 
                    tbody 
                        tr 
                            td Порода
                            td Мейн-кун
                            td 10 кг
                        tr
                            td Порода
                            td Сфинкс
                            td 5 кг
                        tr
                            td Порода
                            td Рэгдолл
                            td 5 кг
                table.secure__table 
                    tbody 
                        tr
                            td Порода
                            td Мейн-кун
                        tr
                            td Порода
                            td Сфинкс
                        tr
                            td Порода
                            td Рэгдолл
